#!/bin/sh
set -e

# config script is run with 2 parameters given (see man debconf-devel):
# 1. action being performed
# 2. version of the package that is currently installed

# Source debconf library.
. /usr/share/debconf/confmodule

# Message about rdd definiton changes
if [ "$#" -eq 2 ] && test -n "$2"; then
        dpkg --compare-versions $2 lt 1.2.0 && db_input high check-mk-server/v1.2_upgrade_msg || true
fi
db_go || true
